<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ru.ghoul.pgtest2"
        version   = "1.0.0">

    <name>PG test 2</name>

    <description>
        тестовый сайт 
    </description>

    <author href="http://ghoul.ru" email="info@ghoul.ru">
	LouD
    </author>

    <gap:platform name="android" />
<access origin="http://ghoul.ru" subdomains="true" /> 


</widget>
